/.idea

/app/cache/*
!/app/cache/.gitkeep
/app/logs/*
!/app/logs/.gitkeep
/vendor/*
!/vendor/.gitkeep
/web/bundles/*
!/web/bundles/.gitkeep
/web/app_dev.php
/app/bootstrap.php.cache
/app/config/parameters.yml

/web/cache/*
!/web/cache/.gitkeep
/web/uploads/photos/*
!/web/uploads/photos/.gitkeep
/web/pdw_file_browser/cache/*
!/web/pdw_file_browser/cache/.gitkeep
/web/uploads/wysiwyg/*
!/web/uploads/wysiwyg/.gitkeep
/web/uploads/images/*
!/web/uploads/images/.gitkeep
!/web/uploads/images/default.jpg
